{% extends "base.html" %}
<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Info</title>
</head>
<body>

{% block content %}
<center>

<div class=" text-center">
<h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Enter a ticker code!</h3>
    </div><br>

<p></p>
    <form action="{% url 'result' %}" method="get">
        <label for="ticker">Ticker: </label>
        <input type="text" id="ticker" name="ticker" size="40"><br>
    </form><br><br>

<div class="container">
    <div class="columns">

                   Ticker List<br>
                <select class="form-control d-inline-block" name="ticker" >
                        {% for stock in ticker_list %}
                       <option value="{{ stock.name }}">{{ stock.tick }}</option>
                         {% endfor %}
                </select>
 </div>
</div><br>



    <a href="{% url 'DBsearch' %}">Ticker Search</a><br>

    <a href="{% url 'DBsearch' %}">User Registration</a><br>

    <a href="{% url 'DBupdate' %}">Update Database</a><br>


</center>
{% endblock %}
</body>
</html>