{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Stock Info</title>
</head>
<body>
<center>
<p style="font-family:Copperplate Gothic; color:Blue; font-size: 40px;">Stock Search</p>

<p></p>
    <form>
        <label for="ticker">Ticker: </label>
        <input type="text" id="ticker" name="ticker" value=""><br>
         <label for="name">Name : </label>
        <input type="text" id="name" name="name" value=""><br>


    </form>




The current time is {{  time_of_day }}
</center>
</body>
</html>