{% extends "base.html" %}
<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Info</title>
</head>
<body>

{% block content %}
<center>


<p></p>
    <form>
        <label for="ticker">Ticker: </label>
        <input type="text" id="ticker" name="ticker" value=""><br>
         <label for="name">Name : </label>
        <input type="text" id="name" name="name" value=""><br>


    </form><br><br>


<a href="{% url 'DBsearch' %}">Ticker Search</a><br>
<a href="{% url 'DBupdate' %}">Update Database</a><br><br>


The current time is {{  time_of_day }}
</center>
{% endblock %}
</body>
</html>