<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    <div class=" text-center">
<h3>See the performance</h3>
    </div><br>

   <form action="{% url 'backtest' %}" method="get">
    Number of days to show<br>
    <input type="text" name="days" id="days" value="" ><br>
    <input type="submit" name="submit" value="See the portfolio performance">
 </form>

<h3>Your portfolio</h3>
<table border="1" align="center">
    <tr><td>&nbsp; Stock &nbsp;</td><td>&nbsp; Number of Shares&nbsp; </td></tr>
    {% for c in account_holder %}
    <tr>
    <td>&nbsp;{{ account_holder.stocks_holding }}&nbsp;</td><td>{{ account_holder.num_shares }}</td><td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
</body>
</html>