{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    <center>

Top threads in WallSteetBets

<br>
    <table border="1" align="center">
    <tr><td>&nbsp; Title &nbsp;</td><td>&nbsp; Score&nbsp; </td><td>&nbsp; id&nbsp; </td><td>&nbsp; Comment&nbsp; </td></tr>
    {% for r in reddit %}
    <tr>
    <td>&nbsp;<a href="{{ r.3 }}"> {{ r.0 }}</a>  &nbsp;</td><td>&nbsp;{{ r.1 }}&nbsp;</td><td>&nbsp;{{ r.2 }}&nbsp;</td><td>&nbsp;{{ r.4 }}&nbsp;</td>
    </tr>
    {% endfor %}
</table>
</center>
{% endblock %}
</body>
</html>